@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes move-right {
    0% {
        transform: translateX(-120%);
    }

    100% {
        transform: translateX(120%);
    }
}

@keyframes move-left {
    0% {
        transform: translateX(120%);
    }

    100% {
        transform: translateX(-120%);
    }
}

.animate-move-right {
    animation: move-right 18s linear infinite;
}

.animate-move-left {
    animation: move-left 22s linear infinite;
}